*{
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url(banner/banner2..jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    position: absolute;
    width: 500px;
    height: 700px;
    border: 0;
    border-radius: 20px;
    background-color: rgba(3, 32, 80, 0.573);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 3px 3px 4px rgba(105, 103, 103, 0.247);
    animation: glowup 1s forwards;

}
.signup{
    position: absolute;
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: large;
    top: 0;
    
}
.except{
    
    width: 100%;
    position: absolute;
    height: 80%;
    bottom: 20px;
    margin-left: 250px;
    font-size: 1.1em;
    


}
input{
    margin-left: 10px;
    height: 30px;
    width: 200px;
    border: 0;
    
    color: black;
    padding-left: 10px;
}
input:hover{
    animation: glowup 0.5s forwards;
}
@keyframes glowup{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.05;
    }
}


#LB{
    color: black;
    padding: 10px 30px;
    border: 0;
    
    font-size: 0.8em;
    margin-left: 94px;
}
#LB:hover{
    animation: glowup 0.3s forwards;
}
#LB:active{
    animation: glowdown 0.3s forwards;
}
@keyframes glowdown{
    0%{
        scale: 1.1;
    }
    100%{
        scale: 0.9;
    }
}
hr{
    width: 80%;
}
a{
    text-decoration: none;
    margin-left: 60px;
    font-size: smaller;
}
a:hover{
    color: aqua;

}
a:active{
    color: black;
}
.PP{
    font-size: smaller;
    margin-left: -20px
}
.PP a{
    margin-left: 0;
    color: rgb(136, 161, 212);
}
#firstname{
    margin-left: 50px;
}
#lastname{
    margin-left:50px;
}
#username{
    margin-left: 79px;
}
#Rusername{
    margin-left: 14px;
}
#Password{
    margin-left:58px ;
}
#RPassword{
    margin-left:0px ;
}
#pnumber{
    margin-left: 20px;
}